# Ignora entorno virtual
venv/
.env

# Archivos de cache y compilados
__pycache__/
*.py[cod]

# Archivos de entorno o configuración
*.log
*.pot
*.pyc

# Config de VSCode o PyCharm
.vscode/
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db
