<h2>Dashboard de {{ user.first_name }}</h2>
<p><strong>Puntos acumulados:</strong> {{ puntos }}</p>


<p><strong>Límite mensual:</strong> S/. {{ user.monthly_limit }}</p>
<p><strong>Gasto total este mes:</strong> S/. {{ total_mes }}</p>

<hr>

<h3>Últimos 10 gastos</h3>
<table border="1">
    <tr>
        <th>Fecha</th>
        <th>Tienda/Servicio</th>
        <th>Monto (S/.)</th>
    </tr>
    {% for gasto in ultimos_gastos %}
        <tr>
            <td>{{ gasto.date }}</td>
            <td>{{ gasto.store_name }}</td>
            <td>{{ gasto.amount }}</td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="3">No se han registrado gastos aún.</td>
        </tr>
    {% endfor %}
</table>

<br>
<a href="{% url 'register_expense' %}"><button>Registrar nuevo gasto</button></a>
<a href="{% url 'profile' %}"><button>Ir al perfil</button></a>
<a href="{% url 'reports' %}"><button>Ver reportes</button></a>
<a href="{% url 'recommendations' %}"><button>Recomendaciones</button></a>
<a href="{% url 'chatbot' %}"><button>ChatBot</button></a>
<a href="{% url 'investments' %}"><button>Simulador de Inversiones</button></a>
<a href="{% url 'retos' %}"><button>Ver Retos Gamificados</button></a>
<a href="{% url 'logout' %}"><button>Cerrar sesión</button></a>
